<!--<nav class="menu">
<img id="main-logo" src="assets/img/logo_live.png" alt="Logo de Platzinger">
  <a routerLink="/home"> Home 
  <i class="fas fa-american-sign-language-interpreting"></i>
  </a> |
  <a routerLink="/login"> Login  </a> |
  <a routerLink="/profile"> Profile  </a> |
</nav>-->
<div id="menuContainer">
  <div class="item branding" routerLink="/home">
    <img id="main-logo" src="assets/img/logo_live.png" alt="Logo de Platzinger">
    Platzinger
  </div>
  <div class="item" routerLink="/profile">
    Profile
  </div>
</div>
