#profileContainer {
  background-image: url(/assets/img/msnbg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.change{
  display: flex;
  flex-direction: column;
  align-items: center;
}
